Puertoserver=4546
Tiempoespera=15
Tiempocgiespera=10
Encabezadocgi1=
Encabezadocgi2=
Cantidadmaximadehijos=50
Nombredelserver=127.000.000.001
Nombrewww=www.adw.com
Directorioprincipal=docs
Directoriocgi=docs/cgi/
Directoriorestringido=docs/usuarios/
Directoriorestringidocgi=docs/usrcgi/
Paginapordefecto=index.html
Passwordcambio=lala
Llamadaconfig=cambiolaconfiguracion
Llamadaconfig1=postconf
Llamadaconfig2=sconfi
Directoriodelprograma=/home/pablo/vger.prod/server/
Pedidoestadisticas=estadisticas.adw
Llamadaserver=agregarunservidornuevos
Quitarserver=quitars
Repetidor=127.0.0.1
Repetidorpuerto=9001
Repetidorpassword=repet
