Puertoserver=80
Tiempoespera=5
Tiempocgiespera=30
Cantidadmaximadehijos=15
Nombredelserver=127.000.000.001
Directorioprincipal=docs
Directoriocgi=docs/cgi/
Directoriorestringido=docs/usuarios/
Directoriorestringidocgi=docs/usuarioscgi/
Paginapordefecto=index.html
Directoriodelprograma=/home/pablo/vger.prod/server/
Pedidoestadisticas=estadisti22cas.html
Passwordcambio=repet
Llamadaconfig=cambiolaconfiguracion
Llamadaconfig1=/cgi/postrepe
Llamadaconfig2=/cgi/confrepe
Llamadaconfig3=cgi/consola
Llamadaconfig4=/usrcgi/sconfi
Llamadaconfig5=/usrcgi/postconf
Llamadaconfig6=estadisticas.adw
Llamadaserver=agregarunservidornuevo
Quitarserver=quitars
